node_modules/
dist/
.next/
*.env
.env.local
*.db
*.db-journal
.DS_Store
salvify-html-prototype.html
*.log
*.err
server/server_out.log
client/client_out.log
client/client_err.log
server/server_err.log
